/*----------------------------------------------------------------------------
layout.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Content
-----------------------------------------------------------------------------*/

.content {
    max-width: var(--content-width);
    margin: 0 auto;
}


/* Section
-----------------------------------------------------------------------------*/

.section {
    padding-bottom: var(--space-stack-xl);
}


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    border-bottom: solid 1px var(--color-borders);
    margin-bottom: var(--space-stack-xl);
}


/* Navigation
-----------------------------------------------------------------------------*/

.site-header__navigation ul{
    list-style-type: none;
    float: left;
    margin: 0 0 15px 0;
    padding: 0;
}

.site-header__navigation li{
    display: inline;
    padding: 5px;

}

.site-header__navigation li:hover{
    background-color: yellow;
}
/* Footer
-----------------------------------------------------------------------------*/

.footer {
    border-top: solid 1px var(--color-borders);
    background-color: brown;
}