/*----------------------------------------------------------------------------
layout.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Content
-----------------------------------------------------------------------------*/

.content {
    max-width: var(--content-width);
    margin: 0 auto;
}


/* Section
-----------------------------------------------------------------------------*/

.section {
    padding-bottom: var(--space-stack-xl);
}


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    border-bottom: solid 1px var(--color-borders);
    margin-bottom: var(--space-stack-xl);
}


/* Navigation
-----------------------------------------------------------------------------*/

.site-header__navigation ul{
    list-style-type: none;
}

.site-header__navigation li{
    display: inline;
}
/* Footer
-----------------------------------------------------------------------------*/

.footer {
    border-top: solid 1px var(--color-borders);
    background-color: brown;
}
/* Mitarbeiter Elemnt
-----------------------------------------------------------------------------*/
.mitarbeiter__foto{
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    height: 25%;
    width: 25%;
    float: left;
    margin-right: var(--space-inset-l);
}
.mitarbeiter__außen:after{
    content: "";
    display: block;
    clear: both;
}
.mitarbeiter__außen img{
    border-radius: 50%;
}